@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #1d1d1d;
  overflow: hidden;
}

#canvas {
  /* border: 2px solid red; */
  top: 0;
  left: 0;
  position: absolute;
  /* transform: translate(-50%, -50%); */
}
